.content {
    padding: 16px;
    margin-left: 5%;
    margin-right: 5%;
}

.content > mat-card {
    width: 200px;
}

mat-toolbar {
    justify-content: space-between;
}

.content {
    padding: 16px;
}

.content > mat-card {
    margin-bottom: 16px;
}

.column-label {
    margin-right: 8px;
    font-size: 1rem;
}