<mat-toolbar>
  <button mat-icon-button class="example-icon" (click)="inputSideNav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Canvas Builder</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" (click)=makepdf()>
    <mat-icon matTooltip="Download PDF">download</mat-icon>
  </button>
  <button mat-icon-button class="example-icon favorite-icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
