<div class="sidenav">
    <div class="logo">
        <a href="/" class="simple-text logo-mini">
            <div class="logo-img">
                <img src="../assets/images/angular2-logo-white.png">
            </div>
        </a>
        <a href="/" class="simple-text logo-normal">
            Menü
        </a>
    </div>
    <ul class="nav">
        <li class="active"><a routerLink="/"><i><mat-icon>home</mat-icon></i>Home</a></li>
        <li><a routerLink="/layouts"><i><mat-icon>dashboard</mat-icon></i>Canvases</a></li>
        <li><a routerLink="/templates"><i><mat-icon>calendar_view_month</mat-icon></i>Templates</a></li>
    </ul>
</div>
