<div class="row">
  <div class="menu-box">
    <div class="side-menu-list">
      <ul class="menu-items">
        <li (click)="goTo('Home')" [ngClass]="{'onActive':selectedMenu == 'Home'}"><i class="fa fa-home"></i>Home</li>
        <li (click)="goTo('Profile')" [ngClass]="{'onActive':selectedMenu == 'Profile'}"><i class="fa fa-user-circle"></i>Canvases</li>
        <li (click)="goTo('Contact')" [ngClass]="{'onActive':selectedMenu == 'Contact'}"><i class="fa fa-volume-control-phone"></i>Layouts</li>
        <li (click)="goTo('Products')" [ngClass]="{'onActive':selectedMenu == 'Products'}"><i class="fa fa-shopping-cart"></i>Sammlung</li>
        <li (click)="goTo('Login')" [ngClass]="{'onActive':selectedMenu == 'Login'}"><i class="fa fa-unlock-alt mr-2"></i>Login</li>
      </ul>
    </div>
  </div>

  <div class="side-menu-content">
    <div class="tabs" *ngIf="selectedMenu == 'Home'">

      <div id="content" class="canvas">
        <mat-grid-list cols="10" rowHeight="10:8" gutterSize="0" guttercolor="black">
          <mat-grid-tile
            *ngFor="let tile of tiles; let i = index"
            [colspan]="tile.cols"
            [rowspan]="tile.rows"
            [style.background]="tile.color">
            <mat-card class="card-elements">
              <mat-card-title class="card-elements-title">
                {{tile.text}}
                <svg id="x-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16" (click)="typeNote(i)">
                  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                  <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                </svg>
              </mat-card-title>
              <mat-card-content class="card-elements-notes"></mat-card-content>
            </mat-card>
          </mat-grid-tile>
        </mat-grid-list>
        
      </div>
      <button type="button" class="btn btn-primary btn-floating" (click)="makepdf()">
        <i class="fa fa-download"></i>
      </button>
      <button (click)="typeNote(0)" type="button" class="btn btn-success">Create note</button>
    </div>

    <div class="tabs" *ngIf="selectedMenu == 'Profile'">
      This is Canvases
    </div>

    <div class="tabs" *ngIf="selectedMenu == 'Contact'">
      This is Layouts
    </div>

    <div class="tabs" *ngIf="selectedMenu == 'Products'">
      This is Sammlung
    </div>

    <div class="tabs" *ngIf="selectedMenu == 'Login'">
      This is Login
    </div>
  </div>
</div>


  <div class="test-container">
    <div class="container3">
      <form>
        <textarea id="note-text" placeholder="Note..." maxlength="96"></textarea>
        <svg id="check-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16" (click)="createNote(j); resetValue()">
          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
          <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
        </svg>
        <svg id="x-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16" (click)="typeNote(0)">
          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
          <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
        </svg>
      </form>
    </div>
  </div>

  