<div class="row">
  <div>
    <mat-card class="board_header">
      <p>{{ data.name }}</p>
      <p>Titel: <input type="text"></p>
      <p>Entwickelt von: <input type="text"></p>
      <p>Datum: <input type="text"></p>
      <p>Version: <input type="text"></p>
    </mat-card>
    <div id="content" class="canvas">
      <mat-grid-list cols="10" rowHeight="10:8" gutterSize="0">
        <mat-grid-tile
          *ngFor="let tile of tiles; let i = index"
          [colspan]="tile.cols"
          [rowspan]="tile.rows"
          [style.background]="tile.color"
        >
          <mat-card class="card-elements">
            <mat-card-title class="card-elements-title">
              {{tile.text}}
              <button mat-icon-button id="add-icon" color="primary" (click)="createNoteDialog(i)">
                <mat-icon>add_circle_outline</mat-icon>
              </button>
            </mat-card-title>
            <app-note-list [tile]="i"></app-note-list>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </div>
</div>
