mat-grid-tile {
    border: solid 1px #000;
  }

.canvas {
    margin: 1rem;
    width: calc(100% - 2rem);
    display: inline-block;
}

.row {
    margin-bottom: 30px;
}
.mat-card-title{
    display: block;
    margin-bottom: 8px;
    position: fixed;
}
.card-elements {
    width: 100%;
    height: 99%;
    font-size: 10px;
    background-color: white;
    color: black;
    overflow-y: hidden;
    overflow-x: auto;
}

.card-elements-title {
    font-size: 15px;
}

#check-icon {
    position: absolute;
    right: 17%;
    top: 4%;
}

#dl-button {
  margin-left: 40px;
  margin-top: 10px;
}
  
mat-flat-button {
    width: 50px;
}
  
#x-icon {
    position: absolute;
    right: 5%;
    top: 4%;
}
