<div style="height: 92vh;">
  <div id="content" class="canvas">
    <mat-card class="board_header">
      <p style="font-size: large; font-size:1vw;">{{ data.name }}</p>
      <p>
        <mat-form-field class="example-full-width">
          <mat-label>Titel</mat-label>
          <input matInput id="title" value="{{ canvasName }}">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="example-full-width">
          <mat-label>Entwickelt von</mat-label>
          <input matInput id="publisher" value="{{ canvasPublisher }}">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="example-full-width">
          <mat-label>Datum</mat-label>
          <input matInput id="date" value="{{ canvasDate }}">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="example-full-width">
          <mat-label>Version</mat-label>
          <input matInput id="version" value="{{ canvasVersion }}">
        </mat-form-field>
      </p>
      <p>
        <button mat-icon-button color="primary" (click)="saveHeader()">
          <mat-icon matTooltip="Änderungen speichern">check_circle_outline</mat-icon>
        </button>
      </p>
    </mat-card>
    <div class="">
      <mat-grid-list cols="100" rowHeight="100:90" gutterSize="4">
        <mat-grid-tile
          *ngFor="let tile of data.Tile; let i = index"
          [colspan]="tile.cols"
          [rowspan]="tile.rows"
        >
          <mat-card class="card-elements">
            <mat-card-title class="card-elements-title">
              {{tile.text}}
              <button mat-icon-button class="add-icon" color="primary" (click)="createNoteDialog(i)">
                <mat-icon matTooltip="Notiz hinzufügen">add_circle_outline</mat-icon>
              </button>
            </mat-card-title>
            <app-note-list [tile]="i"></app-note-list>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </div>
</div>
