:host {
    //display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    display: flex;
    align-content: flex-start;
  }
  
  .note {
    width: 4vw;
    height: 4vw;
    padding: 5px;
    overflow: hidden;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.75);
  }

  .note:hover {
    transform: scale(1.5);
  }
  
  .note>p {
    font-size:0.6vw;
  }